Classroom Info
<p>
<%= @classroom.course_name %>
<%= @classroom.semester %>
</p>

We now want to call out all students in the class:
<%@classroom.students.each do |stu|%>
<%=render partial: "students/student", locals: {post_student: stu}%>
<%end%>